<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Contacts</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="heart-outline"></ion-icon>
      <ion-label>Favourite</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="alert-outline"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
