<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title>
      FAVORITE
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">FAVORITE</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Loading Skeleton -->
  <ion-list *ngIf="!contacts">
    <ion-item *ngFor="let a of [1,2,3,4,5,6,7,8,9,10]">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <h3><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></h3>
        <p><ion-skeleton-text animated style="width: 100%"></ion-skeleton-text></p>
      </ion-label>
    </ion-item>
  </ion-list>
  <!-- End Loading Skeleton -->

  <ion-list *ngIf="contacts">
    <ion-item *ngFor="let contact of contacts">
      <ion-avatar slot="start">
        <img [src]="contact.foto ? contact.foto : './assets/images/avatar.png'" />
      </ion-avatar>
      <ion-label>
        <h3>{{ contact.nama }}</h3>
        <p>{{ contact.phone }}</p>  
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>


