<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-searchbar *ngIf="searchBar" placeholder="Search ..." (ionCancel)="viewSearchBar()" [(ngModel)]="keyword" [debounce]="250" showCancelButton="always" color="success"></ion-searchbar>
    <ion-title *ngIf="!searchBar">
      Contacts
    </ion-title>
    <ion-button *ngIf="!searchBar" (click)="viewSearchBar()" fill="clear" color="light" slot="end">
      <ion-icon name="search-outline"></ion-icon>
    </ion-button>
    <ion-button *ngIf="!searchBar" fill="clear" color="light" slot="end">
      <ion-icon name="ellipsis-vertical-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Contacts</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Fab Button Add New Contact -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success" [routerLink]="['/form']" [routerDirection]="forward">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <!--  End Fab Button Add New Contact -->

  <!-- Loading Skeleton -->
  <ion-list *ngIf="!contacts">
    <ion-item *ngFor="let a of [1,2,3,4,5,6,7,8,9,10]">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <h3><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></h3>
        <p><ion-skeleton-text animated style="width: 100%"></ion-skeleton-text></p>
      </ion-label>
    </ion-item>
  </ion-list>
  <!-- End Loading Skeleton -->

  <!-- List Contact -->  
  <ion-list *ngIf="contacts">
    <ion-item-sliding *ngFor="let contact of contacts | filter:keyword">
      <ion-item>
        <ion-avatar slot="start">
          <img [src]="contact.foto ? contact.foto : './assets/images/avatar.png'" />
        </ion-avatar>
        <ion-label>
          <h3>{{ contact.nama }}</h3>
          <p>{{ contact.phone }}</p>          
        </ion-label>
        <ion-icon slot="end" [name]="contact.favorit == 1 ? 'heart' : 'heart-outline'" [color]="contact.favorit == 1 ? 'danger' : 'dark'" (click)="favorite(contact.id,contact.favorit)"></ion-icon>
      </ion-item>
 
      <ion-item-options side="start">
        <ion-item-option (click)="favorite(contact.id,contact.favorit)" color="light">
          <ion-icon slot="icon-only" [name]="contact.favorit == 1 ? 'heart' : 'heart-outline'" [color]="contact.favorit == 1 ? 'danger' : 'dark'"></ion-icon>
        </ion-item-option>
      </ion-item-options>

      <ion-item-options side="end">
        <ion-item-option [routerLink]="['/form']" [routerDirection]="forward" [queryParams]="contact" color="warning">
          <ion-icon slot="icon-only" name="create-outline"></ion-icon>
        </ion-item-option>
        <ion-item-option color="primary" (click)="deleteData(contact.id)" color="danger">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>
  <!-- End List Contact -->
  
</ion-content>
