ion-avatar { width: 100%; height: unset !important;}
ion-avatar img { display: block; margin: 25px auto; width: 160px; height: 160px; }
ion-icon { color: #2dd36f; }
ion-item.item-has-focus { --highlight-background: #2dd36f; }