<ion-header>
  <ion-toolbar color="success">
    <ion-button [routerLink]="['/']" slot="start" fill="clear">
      <ion-icon color="light" slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title>{{ contact.id ? "EDIT" : "ADD" }} CONTACT</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-content>
    <ion-avatar>
      <img [src]="contact.foto ? contact.foto : './assets/images/avatar.png'" sizes="large" (click)="showMenu(foto)" />
      <input #foto type="file" accept="image/*;capture=camera" style="display: none;" (change)="setImage($event)">
    </ion-avatar>
  </ion-card-content>
  <ion-item-divider class="ion-no-border">
    <ion-label color="success">
      <h5>Contact Info</h5>
    </ion-label>
  </ion-item-divider>
  <ion-card-content class="ion-no-padding">
    <ion-item>
      <ion-icon name="person" slot="start"></ion-icon>
      <ion-input placeholder="Name" [(ngModel)]="contact.nama"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="call" slot="start"></ion-icon>
      <ion-input placeholder="Phone" [(ngModel)]="contact.phone"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="mail" slot="start"></ion-icon>
      <ion-input placeholder="Email" [(ngModel)]="contact.email"></ion-input>
    </ion-item>
  </ion-card-content>
  <ion-item-divider class="ion-no-border">
    <ion-label color="success">
      <h5>Description</h5>
    </ion-label>
  </ion-item-divider>
  <ion-card-content class="ion-no-padding">
    <ion-item>
      <ion-icon name="receipt-outline" slot="start"></ion-icon>
      <ion-textarea placeholder="Description" [(ngModel)]="contact.deskripsi"></ion-textarea>
    </ion-item>
  </ion-card-content>
  <ion-button (click)="saveData()" color="success" expand="full">    
    SAVE
  </ion-button>
</ion-content>


